
body {
  background-color: #040409;
  font-family: 'JetBrains Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */

.header {
  display: flex;
  padding: 8px;
  color: aliceblue;
  /* background-color: red; */
  padding-top: 0px;
}

.header a {
  margin: 4px;
  text-decoration: none;
  color: inherit;
}

.header a:hover {
  text-decoration: underline;
}

.header .bar-one {
  flex: 1;
  color: #3DB7BB ;
  /* background-color: antiquewhite; */
}

.bar-one div {
  display: flex;
  /* background-color:#767e89; */
  border-radius: 2em;
  /* padding: 4px; */
  align-items: left;
  justify-content: left;
}

.header .bar-two {
  flex: 2;
  /* background-color: pink; */
}

.bar-two div {
  display: flex;
  border-radius: 2em;
  /* padding: 4px; */
  align-items: center;
  justify-content: center;
}


.header .bar-three {
  flex: 1;
  /* color: #7CFFA3; */
  color: #FF6A00;
  /* background-color: aqua; */
}

.bar-three div {
  display: flex;
  /* background-color: #767e89; */
  border-radius: 2em;
  /* padding: 4px; */
  align-items: right;
  justify-content: right;
}

/* HERO */

.hero {
  background-color: aliceblue;
  /* height: 445px; */
  height: 510px;
  /* display: inline-block; */
}


.hero .present-day {
  padding: 8px;
  /* background-color: pink; */
}

.hero .present-time {
  width: 930px;
  margin-left: auto;
  padding: 8px;
  /* background-color: aqua; */
}


pre {
  color: red;
  white-space: pre;
  /* font-size: 10px; */
} 

.rentri {
  text-align: center;
  /* background-color: blueviolet; */
}

.rentri a {
  text-decoration: none;
  color: inherit;
}

.rentri a:hover {
  text-decoration: underline;
}


/* MAIN */

.main {
  /* background-color: red; */
  width: auto;
  height: auto;
  margin: 8px;
  margin-bottom: 80px;
  /* margin-top: 26px; */
  /* margin-top: 86px; */
  color: aliceblue;
}

.main .info-container {
  display: flex;
}

.about-me {
  margin: 0px;
}

.about-me h1 {
  text-align: center;
  border-bottom: dashed #FFBF00;
  font-size: 50px;
  width: 20%;
  margin-top: 0px;
  color:#F4F1DE;
}

.about-me div {
  margin-top: 40px;
}

.self {
  flex: 1;
  /* background-color: cyan; */
}

.image {
  /* background-color: bisque; */
  margin-left: auto;
  margin-right: 10px;
  /* margin-top: 10px; */
  width: 220px;
  text-align: center;
}

.image img {
  width: 200px;
  border-radius: 50%;
}

.image p {
  margin: 0px;
  padding: 0px;
  font-size: smaller;
  background-color: blue;
}

.info-self {
  margin: 4px;
  flex: 3;
  /* flex-direction: column; */
  border-left:2px dashed #7CFFA3;
  /* border-left: 2px dotted #FFBF00; */
  /* background-color: blue; */
  padding-left: 8px;
}

.name,
.info {
  width: 70%;
  /* background-color: blanchedalmond; */
}


/* PROJECTS */

.projects .title {
  margin: 0px;
  margin-left: 8px;
}

.title h1 {
  text-align: center;
  border-bottom: dashed #FFBF00;
  font-size: 50px;
  width: 20%;
  margin-top: 0px;
  color:#F4F1DE;
}

.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.cards {
  color: aliceblue;
  background-color: blue;
  margin: 30px;
  width: 400px;
  height: auto;
  position: relative;
  flex: 0 1 auto;
}

.cards::after {
  content: "";
  position: absolute;
  left: -12px;
  bottom: -12px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);

  border-left: 2px solid blue;
  border-bottom: 2px solid blue;
  pointer-events: none;
  z-index: 0;
}

.cards .heading {
  padding: 16px;
  padding-bottom: 0px;
  border-bottom: 2px dotted #FFBF00;
}

.heading p,
.heading h1 {
  margin: 0px;
}


.cards .paragraph {
  padding: 8px;
  overflow: scroll;
}


/* FOOTER */


.contact {
  margin-top: 200px;
  /* background-color: red; */
  text-align: center;
  font-size: x-large;

  color: aliceblue;
  margin-bottom: 6px;
}

.contact a {
  text-decoration: none;
  color: inherit;
}

.contact a:hover {
  color: blue;
  background-color: #7CFFA3;
  border-bottom: 2px solid aliceblue;
}

.stickers {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.stickers img {
  margin: 4px;
  height: auto;
  display: block;
}


.cool-shit {
  text-align: center;
  font-size: smaller;
  background-color: #FFBF00;
  /* color: #FFBF00; */
  font-weight: bolder;
}


/* RESPONSIVE */

@media only screen and (max-width: 1000px) {
  /* HEADER */
  .header {
    padding: 0px;
  }

  .header h3 {
    font-size: small;
  }

  /* HERO */
  .hero .present-time {
    width: 230px;
    margin-left: auto;
  }


  .hero {
    height: auto;
  }

  .rentri h1 {
    font-size: large;
  }

  pre {
    font-size: 3px;
  }

  /* MAIN */

  .about-me h1 {
    font-size: 30px;
    width: 50%;
  }

  .about-me div {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .image {
    width: 80px;
    /* background-color: red; */
  }
  
  .image img {
    width: 80px;
  }

  .image p {
    font-size: xx-small;
  }

  .name,
  .info {
    width: auto;
    font-size: smaller;
  }

  /* PROJECTS */
  
  .title h1 {
    font-size: 30px;
    width: 50%;
    margin-top: 20px;
  }

  .cards {
    width: 100%;
    height: auto;
  }

  .heading h1 {
    font-size: 25px;
  }

  .heading p {
    font-size: xx-small;
  }

  .paragraph p {
    font-size: smaller;
  }

  /* FOOTER */
}

@media only screen and (max-width: 560px) {
  .stickers img {
      width: 100%;
  }
}