
body {
  background-color: #040409;
  font-family: 'JetBrains Mono', monospace;
}

/* HEADER */

.header {
  display: flex;
  padding: 8px;
  color: aliceblue;
  /* background-color: red; */
}

.header a {
  margin: 4px;
  text-decoration: none;
  color: inherit;
}

.header a:hover {
  text-decoration: underline;
}

.header .bar-one {
  flex: 1;
  color: #3DB7BB ;
  /* background-color: antiquewhite; */
}

.bar-one div {
  display: flex;
  /* background-color:#767e89; */
  border-radius: 2em;
  /* padding: 4px; */
  align-items: left;
  justify-content: left;
}

.header .bar-two {
  flex: 2;
  /* background-color: pink; */
}

.bar-two div {
  display: flex;
  border-radius: 2em;
  /* padding: 4px; */
  align-items: center;
  justify-content: center;
}


.header .bar-three {
  flex: 1;
  /* color: #7CFFA3; */
  color: #FF6A00;
  /* background-color: aqua; */
}

.bar-three div {
  display: flex;
  /* background-color: #767e89; */
  border-radius: 2em;
  /* padding: 4px; */
  align-items: right;
  justify-content: right;
}

/* HERO */

.hero {
  background-color: aliceblue;
  /* height: 445px; */
  height: 510px;
  /* display: inline-block; */
}


.hero .present-day {
  padding: 8px;
  /* background-color: pink; */
}

.hero .present-time {
  width: 930px;
  margin-left: auto;
  padding: 8px;
  /* background-color: aqua; */
}


pre {
  color: red;
  white-space: pre;
  /* font-size: 10px; */
} 

.rentri {
  text-align: center;
  /* background-color: blueviolet; */
}

.rentri a {
  text-decoration: none;
  color: inherit;
}

.rentri a:hover {
  text-decoration: underline;
}


/* MAIN */

.main {
  /* background-color: red; */
  width: auto;
  height: 500px;
  margin: 8px;
  margin-top: 86px;
  color: aliceblue;
}

.self {
  flex: 1;
  /* background-color: cyan; */
}

.image {
  /* background-color: bisque; */
  margin-left: auto;
  width: 220px;
  text-align: center;
}

.image img {
  width: 200px;
  border-radius: 50%;
}

.image p {
  margin: 0px;
  padding: 0px;
  font-size: smaller;
  background-color: blue;
}

.main .info-container {
  display: flex;
}

.info-self {
  margin: 4px;
  flex: 3;
  /* flex-direction: column; */
  border-left:2px dashed #7CFFA3;
  /* background-color: blue; */
  padding-left: 8px;
}

.name,
.info {
  width: 70%;
  /* background-color: blanchedalmond; */
}


/* RESPONSIVE */

@media only screen and (max-width: 1000px) {
  /* HEADER */
  .header {
    padding: 0px;
  }

  .header h3 {
    font-size: small;
  }

  /* HERO */

  .hero .present-time {
    width: 230px;
    margin-left: auto;
  }


  .hero {
    height: auto;
  }

  .rentri h1 {
    font-size: large;
  }

  pre {
    font-size: 3px;
  }

  /* MAIN */

  .image {
    width: 80px;
    /* background-color: red; */
  }
  
  .image img {
    width: 80px;
  }

  .image p {
    font-size: xx-small;
  }

  .info-self {

  }

  .name,
  .info {
    width: auto;
    font-size: x-small;
  }
}