html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: #0f0700;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  color: aliceblue;
  background-image: linear-gradient(
      0deg,
      rgba(240, 248, 255, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(240, 248, 255, 0.03) 1px, transparent 1px),
    linear-gradient(0deg, rgba(240, 248, 255, 0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(240, 248, 255, 0.06) 1px, transparent 1px);
  background-size: 10px 10px, 10px 10px, 40px 40px, 40px 40px;

  text-shadow: 0 0 2px rgba(160, 160, 255, 0.6);
  line-height: 1.5;
}

::selection {
  background-color: #5f5fff;
  color: #f0f8ff;
}

.main {
  min-height: 100vh;
}

a {
  color: #90ee90;
}

h3 {
  border-bottom-color: #444448;
}

h4 {
  margin: 4px;
}

header h1 {
  margin-bottom: 0px;
}

hr {
  margin-top: 1px;
}

header img {
  height: 1em;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  max-width: 640px;
  padding: 4rem 2rem;
}

.root::marker {
  content: "> ";
  color: red;
  font-size: 1.2em;
}

.post::marker {
  content: "~ ";
  color: #5dade2;
  font-size: 1.2em;
}

.branch h3 {
  border-bottom: none;
}

.guide a {
  color: #ffbf00;
}

.fav-project a {
  color: #5dade2;
}

.branch::marker {
  content: "#";
  color: #5dade2;
  font-size: 1.2em;
}

.guide::marker {
  content: "[] ";
  color: #ffbf00;
  /* font-size: 1.2em; */
}

.fav-project::marker {
  content: "* ";
  color: #5dade2;
  font-size: 1.2em;
}

.cursor {
  display: inline-block;
  animation: blink 1s step-end infinite;
  color: #5f5fff;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Style the label as a button */
.link-button {
  cursor: pointer;
  font-size: 0.8rem;
  user-select: none;
  line-height: 1;
  flex-shrink: 0;
}

.link-button a {
  color: aliceblue;
}

.link-button a:hover {
  color: #90ee90;
}

@media only screen and (max-width: 500px) {
  .container {
    /* width: 100%; */
    margin: 0.5em auto;
    padding: 0.7em;
  }
}
